html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


@keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes grow {
	from {
		transform: scale(0.7);
	}
	to {
		transform: scale(1) translateX(-50%);
	}
}

 @-webkit-keyframes scale-in-top {
	0% {
	  -webkit-transform: scale(0) translateX(-50%);
			  transform: scale(0) translateX(-50%);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1) translateX(-50%);
			  transform: scale(1) translateX(-50%);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-top {
	0% {
	  -webkit-transform: scale(0) translateX(-50%);
			  transform: scale(0) translateX(-50%);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1) translateX(-50%);
			  transform: scale(1) translateX(-50%);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  opacity: 1;
	}
  }
  