.logo {
    width: 80%;
    max-width: 300px;
}
.dashboard-container{
    display: flex;
}
.panel{
    width: 350px;
    height: 100%;
    // position: fixed;
    // top:0;
    // left:0;
    min-height: 100vh;
    border: 2px solid black;
}

.information {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    min-height: 100vh;

    .square {
        max-width: 500px;
        width: 45%;
        height: 300px;
        border: 2px solid black;
    }
}
