.summary-container {
    background-color: $darkblue;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    .summary{
        width: 90%;
        max-width: 860px;
        margin: 0 auto;

        &__description {
            width: 80%;
            margin: 0 auto;

            &__text {
                color: white;
                font-size: 18px;
                line-height: 1.2;
                text-align: center;

                @media screen and (min-width: 800px){
                    font-size: 22px;
                }
            }
        }

        &__answers {
            background-color: white;
            padding: 20px;
            box-sizing: border-box;

            .answer{
                width: 90%;
                margin: 0 auto;
                box-sizing: border-box;
                padding: 20px;
                border: 2px solid $darkblue;
                color: $darkblue;

                &__number{
                    font-size: 32px;
                    @media screen and (min-width: 800px){
                        font-size: 40px;
                    }
                }

                &__user {
                    box-sizing:border-box;
                    font-size: 20px;
                    padding: 16px;
                    word-break: break-all;
                    border: dotted black;
                }
            }
        }
    }
}