.logo {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
.dashboard-container{
    display: flex;
    height: 100vh;
}

.panel{
    padding-top: 10vh;
    width: 350px;
    height: 100vh;
    background-color: rgba(29, 184, 241, 0.9);
    flex-grow: 1;


    &__menu {
        li a{
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
    }
}

.information {
    animation: fadeIn 0.9s ease-in;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    min-height: 100vh;
    flex-grow: 5;
    overflow: auto;
    
    &--survey {
        flex-direction: column;
        display: block;

        h1{
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
    
    &__chart {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
            canvas {
            margin: 10px;
            max-width: 500px;
            border-radius: 6px;
            box-shadow: 3px 2px 15px lightgrey;
            width: 45%;
            height: 300px;
            padding: 20px !important;
            opacity: 0;
            animation-name: fadeIn;
            animation-duration: 1.4s;
            animation-fill-mode: forwards;
            -webkit-animation-name: fadeIn;
            -webkit-animation-duration: 3s;
            -webkit-animation-fill-mode: forwards;
            
            &#canvas1{
                animation-delay: 0.5s;
            }
            &#canvas2{
                animation-delay: 1s;
            } 
            &#canvas3{
                animation-delay: 1.5s;
            } 
            &#canvas4{
                animation-delay: 2s;
            }
        }
    }

    .table {
        width: 90% !important;
        margin: 0 auto;
        max-width: 700px !important;
    }
}
